@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
html {
  background: linear-gradient(180deg, #7EC8E3, #0000FF, #000C66, #050A30);
background-size: cover;
background-attachment: fixed;
  cursor: url('Cursor.cur'), auto;
}
.repo_card {
  background: #6DD5FA; 
  background: -webkit-linear-gradient(
    to right,
    #2980B9,
    #6DD5FA,
    #FFFFFF
  ); 
  background: linear-gradient(
    to right,
    #2980B9,
    #6DD5FA,
    #FFFFFF
  ); 
  color: white;
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
  border-radius: 10px;
  float: left;
  margin: 10px;
  overflow: auto;
  width: 500px;
  height: 300px;
}
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
