@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
p {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}
html {
  background: linear-gradient(180deg, #7EC8E3, #0000FF, #000C66, #050A30);
background-size: cover;
background-attachment: fixed;
}
